*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #010000;
    border-radius: 0px 0px 10px 10px;
}
header nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 10px ;
    border-radius: 8px ;
    padding: 8px;
    user-select: none;
}
header nav a:hover {
    background-color: #3a3a3a;
    padding: 8px;
    margin: 10px;
    user-select: none;
}
#search {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
}